<div class='left-side'>
  <div class='title-text smith-red-text'>
    <h1><strong>Forging Ahead Inc.</strong></h1>
    <h2><strong>by Rod Pickett</strong></h2>
  </div>

  <div id='spiral-stair'>
    <img id='spiral-stair-photo' src="<%= asset_path('spiral-stair.png') %>" alt="spiral stairway" />
  </div>
</div>

<div class='nav-lights'>

  <a href='/products' >
    <div class='nav-light'>
      <%= image_tag asset_path('light_one_alt.png'), class:'nav-light-photo', alt:"unlit light" %>
      <p class='light-up-color'>Gallery</p>
    </div>
  </a>

  <a href='#'>
    <div class='nav-light'>
      <%= image_tag asset_path('light_one_alt.png'), class:'nav-light-photo', alt:"unlit light" %>
      <p class='light-up-color'>Store</p>
    </div>
  </a>

  <a href='/about'>
    <div class='nav-light'>
      <%= image_tag asset_path('light_one_alt.png'), class:'nav-light-photo', alt:"unlit light" %>
      <p class='light-up-color'>About us</p>
    </div>
  </a>


  <a href='#'>
    <div class='nav-light'>
      <%= image_tag asset_path('light_one_alt.png'), class:'nav-light-photo', alt:"unlit light" %>
      <p class='light-up-color'>Contact us</p>
    </div>
  </a>
</div>

<div id='additional-info'>
  <div class='smith-red-text'>
    <p>Moving metal</p>
    <p>Making it beautiful</p>
    <p>Creating functional art</p>
  </div>

  <div id='address-text' class='offwhite-text'>
    <p>
      211 S. Skylane Dr., Durango, CO, 81303 ~ (970)259-9706
    </p>

    <p>
      Copyright Forging Ahead Inc 2016
    </p>
  </div>
</div>
