<h1 class='pageText titleText' >Forging Ahead Inc.</h1>
<h2 class='pageText ownerText' >by Rod Pickett</h2>

<div id="main-page-background" >
  <img class="" id="main-page-background-photo" src="<%= asset_path('spiral-stair.png') %>" alt="light" />
</div>

<div class='nav-lights' id="about">
  <%= image_tag asset_path('light_one_alt.png'), alt:"light", class:"light-dif", id:"about-light" %>
  <a id="about-link" class="pageText" href="/about">About us</a>
</div>

<div class='nav-lights' id="contact">
  <img class="light-dif" id="contact-light" src="<%= asset_path('light_one_alt.png') %>" alt="light" />
  <a id="contact-link" class="pageText" href="#">Contact us</a>
</div>

<div class='nav-lights' id="store">
  <img class="light-dif" id="store-light" src="<%= asset_path('light_one_alt.png') %>" alt="light" />
  <a id="store-link" class="pageText" href="#">Store</a>
</div>

<div class='nav-lights' id="gallery">
  <img class="light-dif" id="gallery-light" src="<%= asset_path('light_one_alt.png') %>" alt="light" />
  <a id="gallery-link" class="pageText" href="<%= products_path %>">Gallery</a>
</div>

<div class='pageText listText' id="description">
  <p>Moving metal</p>
  <p>Making it beautiful</p>
  <p>Creating functional art</p>
</div>

<p class='pageText addressText'>
  211 S. Skylane Dr., Durango, CO, 81303 ~ (970)259-9706
</p>

<p class='pageText copyrightText'>
  Copyright Forging Ahead Inc 2016
</p>
