<h2><%= @product.name.capitalize %></h2>
<% @product_styles.each do |product_style| %>

  <p><%= product_style.style.name.capitalize %></p>

  <%  product_style.attachments.each do |attachment| %>
    <%= link_to image_tag(attachment.image.url(:thumb)), attachment.image.url, target: '_blank' %>
  <% end %>

  <%= form_for Attachment.new do |f| %>
    <%= f.hidden_field :product_styles_id, :value => product_style.id %>
    <%= f.file_field :image, class: 'form-control'%>
    <%= f.submit "Upload Image" %>
  <% end %>

<% end %>

<p>
<%= link_to "Create New Project", new_admin_product_style_path %><br />
<%= link_to "Projects", admin_products_path %>
</p>
